@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;

}

body{
    height: 90vh;
    background: url("imagenes/programacion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;

}

.logo{
    width: 100px;
    height: 90px;
    margin: 5px 5px;
}
.contenedor{
    display: inline-block;
    text-align: center;
    padding: 1em;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 580px;
    margin-left: 580px;
    border: 2px solid rgb(42, 34, 51);
    border-radius: 15px;
    background-color: rgb(53, 37, 53);
    opacity: 90%;
    
}

h3{
    font-size: 30px;
    margin: 10px;
    color: white;
    font-family: 'News Cycle', sans-serif;
    padding: 3px;
}
.input1{
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background: rgb(49, 10, 99);
    border-radius: 12px;
    border: rgb(42, 34, 51) solid 2px;
    color: white;
}
.boton{
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    width: 230px;
    background-color:rgb(49, 10, 99);
    color: rgb(255, 255, 255);
    opacity: 30px;
}

.boton:hover{
    background-color: turquoise;
}
.boton2{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid rebeccapurple;
    border-radius: 6px;
    font-size: 15px;
    background-color: rgb(49, 10, 99);
    padding: 5px;
}
.boton2:hover{
    background-color: turquoise;

}

.login{
    height: 250px;
}
.face{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 4px;
    margin-left: 3px;
    
}
.face:hover{
    background:blue;
    width: 60px;
    height: 60px;
}

.google{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 4px;
}
.google:hover{
    background: crimson;
    width: 60px;
    height: 60px;
}
#face{
    color: blue;
    font-size: 30px;
    margin: 8px;
}
#google{
    color: red;
    font-size: 30px;
}
#img{
    font-size: 100px;
    color: rgb(49, 10, 99);;
}